.eval{
    margin-bottom: 10px;
}
.tong {
    display: flex;
    align-items:stretch;
    min-height: calc(100vh - 110px);
    background-color: #fff;
    padding-bottom: 10px;
    .tabs-left {
        min-width: 200px;
        background-color: #fafafa;
        .left-el{
            background-color: #fafafa;
            font-size: 15px;
            padding: 12px 10px;
            text-align: left;
            cursor: pointer;
            border-left:3px solid rgba($color: #fff, $alpha: 0);
            &:hover{
                color: #409eff
            }
        }
        .tabSelect{
            background-color: #fff;
            color: #409eff;
            border-left:3px solid $globalMainColor2;
        }
    }
    .tabs-right{
        width: 100%;
        .right-title{
            padding: 15px 30px 20px 30px;
            font-weight: 900;
            font-family:YouYuan;
            .unit{
                font-size: 10px;
            }
        }
        .right-tabs-top{
            padding-left: 30px
        }
        .tong-chart {
            height: 400px;
        }
    }
    
}